<!DOCTYPE html>
<html>
<head>
	<title>Corps_Inc</title>
	<link rel="stylesheet" type="text/css" href="user_homepage.css">
</head>
<body>
<div id="big_wrapper">
	<header id = "top_header">
		<h1>Corps_Inc Maintenance Tracker</h1>
		<div id="abt_btn"><a href="about.html" class="button">ABOUT US</a></div>
	</header>
	<div id = "new_div2">
		<section id = "main_section">
		<br><br><h1>Are you looking for a better way to make a repair or maintenance request?</h1><br>
		<h4>Well look no further!<h4><br>
		<img src="gears.jpg">
		<div id="text">
		<h4><br><br>Welcome to Corps_Inc</h4>
		<h4>We make handling your repairs/maintenance request easier</h4>
		<h4>For more than 10yrs we have been the market leaders in the industry</h4>
		<h4>You should definitely try us today</h4>
		<h2>Get started right now!</h2>
		<br>
			<a href="user_login.html" class="button">LOG IN</a>
			<a href="user_signup.html" class="button">SIGN UP</a>
		</div>
		</section>
	</div>
	<footer id="the_footer">
		@copyright2018
	</footer>
</div>
</body>
</html>