<html lang = "en">
	<head>
		<meta charset="utf-8"/>
		<title>Maintenance Department Request Tracker</title>
		<link rel="stylesheet" href="user_homepage.css">
	</head>
	<body>
	<div id = "big_wrapper">
		<header id = "top_header">
			<h1>MAINTENANCE TRACKER</h1>
		</header>
		<nav id="top_menu">
			<ul>
				<li><a href="about.html">About</a></li>
				<li><a href="user_homepage.html">Home</a></li>
				<li><a href="user_contact.html">Contact</a></li>
				<li ><a href="logout.html">Log out</a></li>
			</ul>
		</nav>
		<div id = "new_div">
			<aside id = "left_side">
				<ul style="list-style-type: none">
				<h4><li><a href ="admin_homepage.html"><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous"><i class="fas fa-bars" id='box1'></i></a></li></h4>
				<br>
				<h2><li><a href ="profile.html">Profile</a></li></h2>
				<br>
				<h2><li><a href="make_req.html">Make request</a></li></h2>
				<br>
				<h2><li><a href="view_req.html">View request</a></li></h2>
				<br>
				<h2><li><a href="feedback.html">Feedback</a></li></h2>
				<br>
				<h2><li><a href="javascript:location.reload(true)">Refresh Page</a></li></h2>
				</ul>
			</aside>
			<section id = "main_section">
				<form>
					<input type="text" placeholder="Type here..." maxlength="50" id="search_bar">
					<input type="submit" value="Search" id="submit">
				</form>
				<br>
				<div id="image">
					<img src="gears.jpg">
				</div><br>
				<br><br><br><br><br>
				<h1>About us</h1>
				<h2>Lorem Ipsum</h2>
				<h2>We value you as always</h2><br>
				<div class="content">Do you like to  play a candy crush? Check out this new fruit crush game <a href="goole.com">https://www.google.com/</a> Or would you rather cube crush<a href="google.com">https://www.google.com/</a> If you love it give us a five star rating and share with your friends Look out for more coming soon!</div>
				<div class="content">Do you like to  play a candy crush? Check out this new fruit crush game <a href="goole.com">https://www.google.com/</a> Or would you rather cube crush<a href="google.com">https://www.google.com/</a> If you love it give us a five star rating and share with your friends Look out for more coming soon!</div>
				<div class="content">Do you like to  play a candy crush? Check out this new fruit crush game <a href="goole.com">https://www.google.com/</a> Or would you rather cube crush<a href="google.com">https://www.google.com/</a> If you love it give us a five star rating and share with your friends Look out for more coming soon!</div>
			</section>
		</div>
		<footer id = "the_footer">
			@copyright2018
		</footer>
	</div>
	</body>
</html>