<!DOCTYPE html>
<html>
<head>
	<title>login page</title>
	<link rel="stylesheet" href="user.css">
</head>
<body background="blue_background.jpg">
	<div class="Company-info">
	<h1>Corps_Inc Maintenace Tracker</h1>
	<h2>We offer efficient means for your requests</h2>
	</div>
	<div class="login-page">
		<div class="form">
			<form class="login-form">
			<input type="text" placeholder="Enter your email/username"/>
			<input type="password" placeholder="Enter your password"/>
			<button class="button" onclick="window.location.href='user_homepage.html'" type="button" value="Log In">Log in</button>
			<p class="message">Or log in as admin? <a href="admin_homepage.html">login</a></p>
			<p class="message">Not registered yet? <a href="user_signup.html">SignUp</a></p>
			</form>
		</div>
	</div>
</body>
</html>