<!DOCTYPE html>
<html>
<head>
	<title>Sign up age</title>
	<link rel="stylesheet" href="user.css">
</head>
<body background="blue_background.jpg">
<div class="Company-info">
<h1>Corps_Inc Maintenace Tracker</h1>
<h2>We offer efficient means for your requests</h2>
</div>
	<div class="login-page">
		<div class="form">
			<form class="register-form">
			<input type="text" placeholder="Enter your email"/>
			<input type="text" placeholder="Enter username"/>
			<input type="password" placeholder="Enter password"/>
			<input type="password" placeholder="Confirm password"/>
			<button class="button" onclick="window.location.href='user_homepage.html'" type="button" value="Sign Up">Sign up</button>
			<p class="message">Already have an account?<a href="user_login.html">Login</a></p>
		</form>
		</div>
	</div>
</body>
</html>



