<!DOCTYPE html>
<html>
<head>
	<title>login page</title>
	<link rel="stylesheet" href="user.css">
</head>
<body background="https://cdn.pixabay.com/photo/2018/05/25/16/43/cube-sea-3429487__340.jpg">
	<div class="Company-info">
	<h1>Corps_Inc Maintenace Tracker</h1>
	<h2>We offer efficient means for your requests</h2>
	</div>
	<div class="login-page">
		<div class="form">
			<form class="login-form">
			<input type="text" placeholder="Enter your email/username"/>
			<input type="password" placeholder="Enter your password"/>
			<input class="button" onclick="window.location.href='file:///C:/Users/Ndiritu/Desktop/bootcamp/UI/user_homepage.html'" type="button" value="Log In" />
			<p class="message">Or log in as admin? <a href="admin_homepage.html">login</a></p>
			<p class="message">Not registered yet? <a href="user_signup.html">SignUp</a></p>
			</form>
		</div>
	</div>
</body>
</html>